body {
    background-color: #fff;
    color: #333333;
    font-family: "Righteous", cursive;
    
}

ul #left-sidebar {
    font-family: 'Righteous', cursive;
    margin: 0;
}

#sculpt_tool {
    background-image: url();
}

/* #e3d7ba */
/* #6d5326 */
/* #222 !important */